{{{operationComments}}}{{operationName}}({{#operationParamsClass
  }}params: {{serviceClass}}.{{operationParamsClass}}{{/operationParamsClass}}{{^operationParamsClass
  }}{{#operationParameters}}{{paramVar}}{{^paramRequired}}?{{/paramRequired}}: {{{paramType
  }}}{{^paramIsLast}},
    {{/paramIsLast}}{{/operationParameters}}{{/operationParamsClass
    }}): __Observable<{{{operationResultType}}}> {
    return this.http.{{operationLowerMethod}}(`{{{operationPath}}}`{{#operationIsBody}}, {{#operationHasUrlParams}}{ params: root }{{/operationHasUrlParams}}{{^operationHasUrlParams}}root{{/operationHasUrlParams}}{{/operationIsBody}})
  }
